/*
color hunt.co: http://colorhunt.co/c/71366
 dark red: #FF4545
 orange: #FF9867
 light orange: #FFBF87
 yellow: #FFEDB2

 http://colorhunt.co/c/78489
 blue: #18587A
 orange: #FC624D
 pink: #FCA7A7
 light pink: #FFD6D6

font: sintony and poppins from https://www.behance.net/gallery/35768979/Typography-Google-Fonts-Combinations
blue: #3490DE for read more links
white: #ffffff
black: #000000

http://www.99colors.net/name/burgundy
Triadic Colors
#800020 Burgundy
#208000 Green
#165A00 Dark Green
#3CA619  Lime Green
#002080 Dark Blue
#00165A navy
#193CA6 blue


google api key AIzaSyCs6rT_VVjyfX5dBnxWY5XXKQyb8LBXkvE
<iframe src="https://www.google.com/maps/embed?pb=!1m0!4v1500827725695!6m8!1m7!1s1H78Wv1YJNdr2rPtgXsnvA!2m2!1d54.3439488311084!2d-7.635358064693378!3f310.243354077671!4f-9.52507538905617!5f0.7820865974627469" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
*/

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Oswald", Helvetica, sans-serif;
}

/* header */
header {
  display: inline;
  align-items: flex-start;
  width: 100%;
  background-color: #00165A;
  color: #FF9867;

  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
  margin: 0 auto 1rem auto;
}

header span {
  margin: 1rem 1rem;
}
header span#open_closed {
  padding: 0.5rem;
}

/* main */
div {
  display: flex;
  margin: auto;
}
/* card */
.card {
  padding-top: 2rem;
}
#jumbotron {
  position: relative;
  display: inline-block;
  height: 329px;
  width: 712px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: white;
}
a#jumbotron::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("../images/HassardMCCcard.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  -webkit-transition: box-shadow .5s ease, -webkit-transform .2s ease;
  transition: box-shadow .5s ease, -webkit-transform .2s ease;
  transition: box-shadow .5s ease, transform .2s ease;
  transition: box-shadow .5s ease, transform .2s ease, -webkit-transform .2s ease;
  will-change: transform;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(var(--tz, -12px));
          transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(var(--tz, -12px));
}
a#jumbotron:hover::before {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
a#jumbotron::after {
  position: relative;
  display: inline-block;
  content: attr(data-title);
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  font-weight: bold;
  letter-spacing: .01em;
  will-change: transform;
  -webkit-transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0));
          transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0));
}

body{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(800px);
          transform: perspective(800px);
}


/* contact-info */
.contact-info {
  display: flex;
  margin: 2rem;
  margin-top: 3rem;
}
.contact-info a{
  margin: auto;
}
.contact-info span{
  display: inline;
  font-size: 2rem;
  font-family: "Oswald", Helvetica, sans-serif;
  color: #00165A;
}
.btn {
  padding: 2rem;
  background: transparent;
  outline: none;
  transition: all 0.3s ease;
  position: relative;
  display: inline;
  border: 2px solid transparent;
}
#email.btn:hover{
  background: #800020;
  color: #ffffff;
  transition-timing-function: ease-in;
  transition-duration: 1s;
}
